/local/modules/kit.scripts
/local/modules/kitconsulting.extendedproductsrow
/local/modules/kitconsulting.productapplications
/local/modules/kitconsulting.productapplicationsextension
local/cron/CRON_SETUP.md
/local/modules/kitconsulting.products
/local/modules/kitconsulting.restevents
bitrix/.settings.php

# Системные файлы Битрикс
/bitrix/backup/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/
/bitrix/updates/
/bitrix/tmp/
/bitrix/error_log
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php

# Файлы загрузок
/upload/
/upload_tmp/

# Логи и временные файлы
/*.log
/log.txt

# Конфиги и настройки сервера
/.htaccess
/.env
/local/config/
/local/sync/site_sync_settings.local.php
/local/modules/yomerch.b24.siteconnector/site_sync_settings.local.php
/local/logs/

# IDE и системные файлы
/.idea/
/.vscode/
/.DS_Store
bitrix/.settings.php
/bitrix
/desktop_app
/.cursor
.graphify_detect.json
.graphify_extract.json
.graphify_python
/graphify-out
/bitrix24-external-developers
/local/.cursor
/local/bitrix24-external-developers
/local/docs
/local/graphify-out
/local/.graphify-scope-local
/docs
/docs
/docs
/crm
